.banner {
    height: 250px;
    background: rgb(35,106,190);
    background: url(./public/image/hero/linea-colores.png);

    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: orange; 
    font-weight: 700;
    font-family: sans-serif;  
    overflow: hidden;
    position: relative;
}

.banner img {  
    position: absolute;
    transform: scale(0.7);
    left: -20px;
}