footer {
    background-color: #f5f5f5;
    color: #555;
    font-size: 14px;
    padding: 20px;
    text-align: center;

    p{
        color: #000;
        font-size: 20px;
        font-weight: 600;
    }
  }
  
  
.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons-footer{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}

.fa-brands{
    fill: #000;
    transition: .7s;
    width: 39px;
    
    &:hover{
        fill: crimson;
    }

}
