footer {
    background-color: #f5f5f5;
    color: #555;
    font-size: 14px;
    padding: 20px;
    text-align: center;
  }
  
  
  .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.icons-footer{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.fa-brands{
    fill: white;
    transition: .7s;
}

.fa-brands:hover{
    fill: crimson;
}

.footer p{
    color: white;
    font-size: 20px;
    font-weight: 600;
}