$header-height: 80px;
$logo-width: 120px;

header {
  height: $header-height;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 300px;
  position: sticky;
  top: 0;
  transition: 0.6s;

  nav {
    ul {
      display: flex;
      list-style: none;

      li {
        margin-right: 40px;
        
        a {
          color: #000000;
          text-decoration: none;
          font-weight: bold;
          
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  #menu-hamburguesa {
    display: none;
    cursor: pointer;
    padding: 10px;

    span {
      display: block;
      height: 2px;
      background-color: #000;
      
      margin-bottom: 4px;
    }
  }

  #logo {
    width: $logo-width;
    height: $header-height;

    img {
      width: 60%;
      height: auto;
    }
  }

  @media screen and (max-width: 767px) {
    padding-inline: 10px;

    #menu-hamburguesa {
      display: block;
    }

    nav {
      display: none;
      position: absolute;
      top: $header-height;
      left: 0;
      width: 100%;
      background-color: #000000;

      ul {
        flex-direction: column;

        li {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }

    &.menu-visible {
      nav {
        display: block;
      }
    }
  }
}








  
  


//----------------------------------------------

main {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  

  section {
    text-align: center;

    h1 {
      font-size: 48px;
      color: #333;
      margin-bottom: 20px;
      text-shadow: 2px 2px #ccc;
    }
  }
}

