@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;900&display=swap");
@import './scss/header';
@import './scss/footer';
@import './scss/contact';
@import './scss/hero';
@import './scss/companyPresent';
@import './scss/banner';
@import './scss/recomendation';

body {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    overflow-x: hidden;
    font-family:'Nunito Sans', sans-serif; 
}

#app {  
  display: flex;
  justify-content: center; 
  flex-direction: column;
}
  
